<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.css}" href="../static/css/bootstrap-theme.css"
          rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/jquery.cookie.js}" src="../static/js/jquery.cookie.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/obook.js}" src="../static/js/obook.js"></script>
    <script th:src="@{/js/web3.min.js}" src="../static/js/web3.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Info Contract</h1>

    <h2 id="info"></h2>

    <label for="name" class="col-md-2 control-label">Name</label>
    <input id="name" type="text">

    <label for="name" class="col-md-2 control-label">Age</label>
    <input id="age" type="text">

    <button id="button">Update Info</button>

    <script>
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        }
        web3.eth.defaultAccount = web3.eth.accounts[0];
        var myContract = web3.eth.contract([
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_sellerAddr",
                        "type": "address"
                    },
                    {
                        "name": "_price",
                        "type": "uint256"
                    }
                ],
                "name": "create",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_txId",
                        "type": "uint256"
                    }
                ],
                "name": "deliver",
                "outputs": [],
                "payable": false,
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "constant": true,
                "inputs": [
                    {
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "name": "Transaction",
                "outputs": [
                    {
                        "name": "txId",
                        "type": "uint256"
                    },
                    {
                        "name": "buyerAddr",
                        "type": "address"
                    },
                    {
                        "name": "sellerAddr",
                        "type": "address"
                    },
                    {
                        "name": "price",
                        "type": "uint256"
                    },
                    {
                        "name": "state",
                        "type": "uint8"
                    }
                ],
                "payable": false,
                "stateMutability": "view",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_txId",
                        "type": "uint256"
                    }
                ],
                "name": "pay",
                "outputs": [],
                "payable": true,
                "stateMutability": "payable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_txId",
                        "type": "uint256"
                    }
                ],
                "name": "receive",
                "outputs": [],
                "payable": true,
                "stateMutability": "payable",
                "type": "function"
            },
            {
                "constant": false,
                "inputs": [
                    {
                        "name": "_txId",
                        "type": "uint256"
                    }
                ],
                "name": "abort",
                "outputs": [],
                "payable": true,
                "stateMutability": "payable",
                "type": "function"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "name": "_sender",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "_message",
                        "type": "string"
                    },
                    {
                        "indexed": false,
                        "name": "_txId",
                        "type": "uint256"
                    }
                ],
                "name": "Created",
                "type": "event"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "name": "_sender",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "_message",
                        "type": "string"
                    }
                ],
                "name": "Paid",
                "type": "event"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "name": "_sender",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "_message",
                        "type": "string"
                    }
                ],
                "name": "Aborted",
                "type": "event"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "name": "_sender",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "_message",
                        "type": "string"
                    }
                ],
                "name": "Delivered",
                "type": "event"
            },
            {
                "anonymous": false,
                "inputs": [
                    {
                        "indexed": false,
                        "name": "_sender",
                        "type": "address"
                    },
                    {
                        "indexed": false,
                        "name": "_message",
                        "type": "string"
                    }
                ],
                "name": "Received",
                "type": "event"
            }
        ]);
        var contract = myContract.at('0x9ce774fca17f26a04e2947ed5547909a8115cc7b');
        var events = [];
        var createdEvent = contract.Created();
        var paidEvent = contract.Paid();
        var abortedEvent = contract.Aborted();
        var deliveredEvent = contract.Delivered();
        var receivedEvent = contract.Received();
        events.push([createdEvent, paidEvent, abortedEvent, deliveredEvent, receivedEvent]);

        $.each(events, function () {
            $(this).watch(function(error, result) {
                if (!error)
                {
                    console.log(result);
                } else {
                    console.log(error);
                }
            });
        });

        contract.pay.sendTransaction({value:web3.toWei(1,'ether'), from: '0x365417A7C5A099f26844De40B568c0C28968A524'}, function (error, result) {
            if (!error)
                console.log(result);
            else console.log(error);
        });

        // contract.abort.sendTransaction({from: web3.eth.accounts[1]}, function (error, result) {
        //     if (!error)
        //         console.log(result);
        //     else console.log(error);
        // });
    </script>

</div>

</body>
</html>